    <div class="project-actions">
       {% block block_action %}
           <a class="btn btn-info btn" href="{{path('app_category_edit', {'slug': category.slug}) }}">
               <i class="fas fa-pencil-alt">
               </i>
               Edit
           </a>
        {% endblock %}
        <a class="btn btn-danger btn-sm" href="#">
            {{ include('admin/category/_delete_form.html.twig') }}
        </a>
        <a class="btn btn-secondary btn" href="#">
            <i class="fas fa-plus"></i>
            Add Product
        </a>
    </div>
