<a href="{{ path('app_home') }}" class="{% block class_logo %}brand-link{% endblock %} text-decoration-none">
    <img src="{{ asset('/uploads/logo/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>