<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-user"></i>
        <span class="badge badge-success navbar-badge">1</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
       {# <span class="dropdown-header">15 Notifications</span>#}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_dashboard') }}" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i>Dashboard
                {#<span class="float-right text-muted text-sm">3 mins</span>#}
            </a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> Profile
            {#<span class="float-right text-muted text-sm">3 mins</span>#}
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i>Settings
            {#<span class="float-right text-muted text-sm">12 hours</span>#}
        </a>
        <div class="dropdown-divider"></div>
        <a href="{{ path('app_logout') }}" class="dropdown-item">
            <i class="fas fa-sign-out-alt mr-2"></i>Log Out
            {#<span class="float-right text-muted text-sm">2 days</span>#}
        </a>
        {#<div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>#}
    </div>
</li>